$color-primary: red;
$color-secondary: lighten(red, 10%);
$color-tertiary:  darken(red, 10%);
$color-bg-primary: lighten(black, 50%);
$color-bg-secondary: lighten(black, 60%);
$color-danger: red;
$color-success: green;
$color-waring: yellow;
$color-info: blue;
